fastapi==0.111.1
uvicorn[standard]==0.23.2
pydantic==2.9.2
pydantic-settings==2.6.1
python-dotenv==1.0.1
SQLAlchemy==2.0.43
pg8000==1.28.3
transformers==4.44.2
huggingface-hub==0.24.6
torch
nltk==3.8.1
scikit-learn
numpy
